<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
        <link rel="icon" href="/img/weathericon.png">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
         {{>header}}
        <form action="">
          <p>{{msg}}</p>

        <input type="text" placeholder="Location">
        <button type="submit">Search</button>

        <p id="msg1"></p>
        <p id="msg2"></p>

    </form> 
         
    
    </div>
    
   
    {{>footer}}
    <script src="/js/app.js"></script>

</body>

</html>